* {
  box-sizing: border-box;
}

body {
  background-image: url(fabric.png);
  background-size: cover;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 10vh;
  color: #c93116;
  opacity: 0.8;
}

button{
  font-family: 'Lobster', cursive;
  background-color: #ffc53f;
  color: #c93116;
}

input[type="text"]{
  background-color: #fff4db;
  font-family: 'Kalam', cursive;
  text-transform: uppercase;
}

button, input[type="text"] {
  padding: 5px; 
  border: 0px;
}

button:hover {
  cursor: pointer;
}

#shopping-list-item {
  width: 250px;
}


.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  font-family: 'Kalam', cursive;
  color: #151354;
  text-transform: uppercase;
  margin-bottom: 20px;
  border: 1px solid #ffc53f;
  padding: 20px;
  width: 70%;
  background-color: #fff4db;
  opacity: 0.9;
}

.shopping-item {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}
